APP_NAME=Diet Tracker Backend
APP_VERSION=0.1.0
BACKEND_CORS_ORIGINS=http://localhost:8081,http://127.0.0.1:8081,http://localhost:8082,http://127.0.0.1:8082
FATSECRET_CLIENT_ID=
FATSECRET_CLIENT_SECRET=
